html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat-Regular', 'AdobeInvisFont', 'MyriadPro-Regular';
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4091AF;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: 'Montserrat-Regular', 'AdobeInvisFont', 'MyriadPro-Regular';
  font-size: 16px;
  color: #000;
}

.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.logo {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: #fff;
}

.logo .social-link {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .social-link .contact-number {
  margin-left: 40%;
  font-size: 18px;
  color: #000000;
}

.logo .social-link .social-apps {
  margin-right: 10rem;
}

.logo .social-link .social-apps img {
  margin: auto 15px;
}

.logo .logo-wraper {
  position: absolute;
  z-index: 1;
  background-image: url(./assets/homePageImage/Shape1.png);
  background-repeat: no-repeat;
  top: 38px;
  left: 0;
  right: 50%;
}

.logo .logo-wraper .logo {
  height: 134px;
  width: 170px;
  position: relative;
  left: 180px;
  top: -43px;
}

.welcom-banner {
  height: 700px;
  width: 100%;
  background-image: url(./assets/slider/1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 90px;
  border-radius: 0 0 20% 20%;
}

.welcom-banner .welcome-text {
  width: 100%;
  position: relative;
  top: 390px;
}

.welcom-banner .welcome-text h1 {
  color: #fff;
  font-family: 'Algerian', 'AdobeInvisFont', 'MyriadPro-Regular';
  font-size: 55px;
  margin-left: 206px;
}

.welcom-banner .welcome-text .buttons {
  margin-left: 206px;
}

.welcom-banner .welcome-text .buttons .btn {
  background-color: #479fcf;
  color: #fff;
  text-transform: uppercase;
}

.welcom-banner .welcome-text .buttons .btn-start {
  width: 293px;
  margin-right: 19px;
}

.welcom-banner .welcome-text .buttons .btn-download {
  width: 339px;
}

.form-question {
  width: 312px;
  height: 380px;
  position: relative;
  left: 70%;
  top: 46%;
  text-align: center;
}

.form-question .any-question {
  font-size: 30px;
}

.form-question .question-input {
  margin-bottom: 17px;
}

.form-question .question-textarea {
  margin-bottom: 30px;
}

.form-question button[type="submit"] {
  background-color: #479FCF;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

.btn-theme {
  background-color: #479FCF;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.about {
  margin-top: 250px;
}

.about .about-img-container .about-img {
  width: 586px;
  height: 400px;
  border-radius: 6px;
}

.about .about-img-container .project-img-2 {
  width: 200px;
  position: absolute;
  height: 200px;
  bottom: 0;
  right: 0;
  border-radius: 6px;
}

.about .about-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.about .about-text {
  font-size: 18px;
  font-family: 'Montserrat-Regular', 'AdobeInvisFont', 'MyriadPro-Regular';
  opacity: 0.8;
}

.certy-award {
  margin-top: 120px;
}

.certy-award .award-title {
  font-size: 40px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
  text-transform: uppercase;
  margin-bottom: 70px;
}

.certy-award .award-img {
  height: 300px;
  border-radius: 6px;
}

.certy-award .award-name {
  font-size: 20px;
}

.get-starter-banner {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(71, 159, 207, 0.9)), to(rgba(71, 159, 207, 0.9))), url(./assets/homePageImage/banner_2_croped.jpg);
  background: linear-gradient(0deg, rgba(71, 159, 207, 0.9), rgba(71, 159, 207, 0.9)), url(./assets/homePageImage/banner_2_croped.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 377px;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get-starter-banner .banner-text h2 {
  font-size: 40px;
  font-family: Montserrat-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #fff;
  text-transform: uppercase;
}

.get-starter-banner .banner-text p {
  color: #fff;
  opacity: 0.5019607843137255;
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 18px;
}

.get-starter-banner .banner-text button {
  font-size: 20px;
}

.project {
  margin-top: 135px;
}

.project .project-heading {
  font-size: 40px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
}

.project img {
  border-radius: 6px;
}

.project .sunvila-img,
.project .kairav-img {
  width: 586px;
  height: 451px;
}

.project .project-title {
  font-size: 30px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
}

.project .project-text {
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
  font-size: 18px;
  opacity: 0.8;
}

.project .project-location {
  font-size: 18px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
  font-weight: 600;
}

.swiper-container {
  width: 100%;
  height: 300px;
}

.swiper-container .swiper-slide .card {
  margin: 50px 0;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
  font-size: 30px;
}

.client {
  position: relative;
  margin-top: 125px;
}

.client .client-title {
  margin-bottom: 96px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
  font-size: 40px;
}

.client .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: -5px;
}

.client .client-comment {
  margin-left: 20%;
}

.blog-bg {
  margin-top: 119px;
  height: auto;
  background-color: #F2F2F2;
  padding: 70px 0;
}

.blog-bg .blog-title {
  font-size: 40px;
  font-family: 'Montserrat-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
  margin-bottom: 70px;
}

.blog-bg .blog-card {
  height: 414px;
}

.map-bg {
  height: auto;
  background-color: #E5E5E5;
  position: relative;
}

.map-bg .contact-us-section {
  top: 20%;
  bottom: 0;
}

@media (max-width: 1250px) {
  .welcom-banner .form-question {
    display: none;
  }
  .about {
    margin-top: 100px !important;
  }
}

@media (max-width: 950px) {
  .welcom-banner {
    border-radius: 0;
  }
  .welcom-banner .welcome-text h1,
  .welcom-banner .welcome-text .buttons {
    font-size: 35px;
  }
  .welcom-banner .welcome-text .buttons .btn-start {
    width: auto;
  }
  .welcom-banner .welcome-text .buttons .btn-download {
    width: auto;
  }
  .logo-wraper {
    display: none;
  }
}

@media (max-width: 1050px) {
  .logo-wraper {
    display: none;
  }
  .social-link .contact-number {
    margin-left: 0 !important;
  }
  .social-link .social-apps {
    margin-right: 0 !important;
  }
}

@media (max-width: 750px) {
  .welcome-text h1,
  .welcome-text .buttons {
    margin-left: 5% !important;
  }
  .about-img-container .project-img-2 {
    width: 125px !important;
    height: 125px !important;
  }
}
/*# sourceMappingURL=style.css.map */